*.iml
.gradle
.idea
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/release
/captures
.externalNativeBuild

core-sdk-device-500-20230801-decompiled/
core-sdk-meari-500-20230801-decompiled/

app/debug
app/release

.gradle/
.idea/
build/